.swiper-button-prev {
    color: black !important;
}

.swiper-button-next {
    color: black !important;
}
.swiper-pagination-bullet-active {
    background-color: white !important;
}
.swiper-button-prev.clicked {
    color: white !important;
}

.swiper-button-next.clicked {
    color: white !important;
}
.swiper-container {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
}