li.open {
  list-style-type: none;
  margin: 5% auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
li.closed {
  list-style-type: none;
  margin: 0 20%;
  display: inline-block;
}
a.selected {
  text-decoration: underline;
}
