* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

header#menu-mobile {
  background-color: #ffeeee;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  text-align: center;
  justify-content: center;
}

li {
  list-style-type: none;
}
ul.closed {
  display: flex;
  justify-content: center;
}
ul.open {
  float: center;
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;
}
li.open {
  margin: 5% auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
li.closed {
  margin: 0 20%;
  display: inline-block;
}
a.selected {
  text-decoration: underline;
}
